@page "/wait/{id}"
@model BAN_BANH.Pages.Other.PageMaxLoadModel
@{
}

<center>
    <div>Hệ thống nhận thấy lượng truy cập bất thường từ địa chỉ của bạn</div>
    <div>-</div>
    <div>RAY ID: @RouteData.Values["id"]</div>
</center>

