@page "/too-busy/{id}"
@model BAN_BANH.Pages.Other.PageMaxLoadModel
@{
}

<center>
    <div>Số lượng truy cập vượt quá khả năng đáp ứng của hệ thống</div>
    <div>-</div>
    <div>RAY ID: @RouteData.Values["id"]</div>
</center>

