@page "/prepare"
@model BAN_BANH.Pages.Other.PrepareModel
@{
    Layout = "./Layouts/_Layout_Drum";
}


<div id="park">
    <div class="container">
        <span class="title-park">Chúng tôi đang tìm chỗ đỗ xe cho bạn...</span>
        <div class="image-park"><img src="park-zone.webp" /></div><span>ID: _GAP_1694270162.1694273762.F5C0D995.FB82.4E5B.8714.5CED4D47ABF7</span>
    </div>
</div>