@page
@model BAN_BANH.Pages.Product.OrderModel
@using Model 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Pages/Shared/Layouts/_Layout_Drum.cshtml";

    var orderList = (OrderListGetter)ViewData[VIEWDATA.ORDER_LIST];
}


<div id="cart-detail">
    <div class="container" id="ct-order-infomation">
        <div id="col-detail-card" class="item">
            <h4>Thông tin đặt hàng</h4>
            <div class="order-infomation-card">
                <div><span>Họ và tên</span><span class="red">&nbsp;(*)</span></div><input type="text" inputmode="tel">
            </div>
            <div class="order-infomation-card">
                <div><span>Số điện thoại</span><span class="red">&nbsp;(*)</span></div><input type="text" inputmode="tel">
            </div>
            <div class="order-infomation-card">
                <div><span>Địa chỉ nhận hàng</span><span class="red">&nbsp;(*)</span></div><input type="text" inputmode="tel">
            </div><button class="btn" id="button-order-card" type="button">Đặt hàng</button>
        </div>
        <div id="info-card-order" class="item">
            <div class="lcoc">
                
                @await Component.InvokeAsync("ItemOrder", orderList)
               
            </div>
            <div class="tco">
                <span id="ttnc">Tổng cộng</span>
                <div id="priceco"><span class="money">2600000</span><span>đ</span></div>
            </div>
        </div>
    </div>
</div>