@using BAN_BANH.Model;

@model Comment;

@{

    StarCountImage sci = new StarCountImage()
            {
                mode = "comment",
                number = Model.sao as dynamic
            };


}


<div class="item-comment-product">
    <div class="vote-name-and-time">
        <span class="name-cus-product">@Model.ten</span>

        @if (Model.thoiGian != null)
        {
            <span>@Model.thoiGian</span>

        }

    </div>
    <div class="comment-n-vote">
        @await Component.InvokeAsync("StarCount", sci)
        <p>@Model.binhLuan</p>
    </div>
</div>